<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="process-block pl-4">
					<span class="text-uppercase text-sm letter-spacing">Why choose us</span>
					<h2 class="mb-4 mt-3">We help you to make work easy</h2>
					<p class="mb-4">!! Simplify your workload with SpinkTech's innovative solutions. From streamlined processes to intuitive interfaces, we empower you to achieve more with less effort, ensuring efficiency and productivity every step of the way. Let us make work easy for you.</p>
				</div>
			</div>

			<div class="col-lg-7 col-xs-12 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mb-4 mb-lg-0">
							<i class="ti-light-bulb"></i>
							<h5>Mobile Development</h5>
							<p>SpinkTech excels in mobile app development: innovative, user-centric solutions.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4 mb-4 mb-lg-0">
							<i class="ti-panel"></i>
							<h5>Web Development</h5>
							<p>SpinkTech: Crafting dynamic websites for seamless digital experiences.
							</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center">
							<i class="ti-search"></i>
							<h5>Content Mangement</h5>
							<p>SpinkTech streamlines content management: efficient, intuitive, and scalable solutions.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4">
							<i class="ti-rocket"></i>
							<h5>Mobility</h5>
							<p>SpinkTech: Pioneering mobility solutions for seamless digital experiences everywhere.</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>