<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 ">
				<div class="about-item mb-5 mb-lg-5">
					<div class="icon">
						<i class="ti-light-bulb"></i>
					</div>

					<div class="content">
						<h4 class="mt-3 mb-3">Custom Effective Software development</h4>
						<p class="mb-4">"SpinkTech crafts custom software solutions meticulously tailored to your needs, ensuring effectiveness, efficiency, and success in the digital landscape."</p>

						<a href="#"> Read More..!! </a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="about-item mb-5 mb-lg-5">
					<div class="icon">
						<i class="ti-panel"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3">Analyse Your Expensees On Every Device</h4>
						<p class="mb-4">"Effortlessly track expenses on any device with SpinkTech's intuitive software, ensuring seamless analysis and optimization of your financial management."</p>
						<a href="#"> Read More..!! </a>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="about-item">
					<div class="icon">
						<i class="ti-headphone-alt"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3">Creating a dedicated IT business growth</h4>
						<p class="mb-4">
							"SpinkTech ignites dedicated IT business growth with tailored solutions, leveraging technology to unlock new opportunities and propel organizational success."</p>
						<a href="#"> Read More..!! </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>