<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="service-img mb-5 mb-lg-0">
					<img src="images/custome software" alt="" width="450" height="450" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-info ">
					<span class="text-color font-weight-bold">01</span>
					<h3 class="text-md mb-4 mt-2">
						Custom Software development
					</h3>
					<p>
						"SpinkTech specializes in custom software development, crafting tailored solutions to meet unique business needs. From concept to deployment, we collaborate closely with clients, ensuring precision, innovation, and seamless integration for transformative digital experiences that drive efficiency, growth, and competitive advantage in today's dynamic landscape."</p>
				</div>
			</div>
		</div>

		<div class="content-padding position-relative">
			<div class="row">
				<div class="col-lg-6">
					<div class="service-info mb-5 mb-lg-0">
						<span class="text-color font-weight-bold">02</span>
						<h3 class="text-md mb-4 mt-2">
							Software Maintenance
						</h3>
						<p>"SpinkTech offers comprehensive software maintenance services, ensuring your digital solutions remain reliable, secure, and up-to-date. Our expert team handles all aspects of maintenance, including updates, bug fixes, security patches, and performance optimization, allowing you to focus on your core business while we keep your software running smoothly."!</p>

					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-img">
						<img src="images/service/6.jpg" width="450" height="350"alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="service-img mb-5 mb-lg-0">
					<img src="images/service/web development.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-info">
					<span class="text-color font-weight-bold">03</span>
					<h3 class="text-md mb-4 mt-2">
						Web App Development
					</h3>
					<p>"SpinkTech excels in web app development, crafting dynamic and scalable solutions tailored to your business needs. From intuitive interfaces to robust backend functionality, we leverage the latest technologies and industry best practices to create seamless web applications that drive engagement, efficiency, and success in the digital landscape."
					</p>
				</div>
			</div>
		</div>

		<div class="content-padding position-relative">
			<div class="row">
				<div class="col-lg-6">
					<div class="service-info mb-5 mb-lg-0">
						<span class="text-color font-weight-bold">04</span>
						<h3 class="text-md mb-4 mt-2">
							Android App Development
						</h3>
						<p>"SpinkTech specializes in Android app development, delivering innovative and user-centric applications that leverage the full potential of the Android platform to meet your business objectives and user needs."

						</p>

					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-img">
						<img src="images/service/Android devlopment.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="service-img mb-5 mb-lg-0">
					<img src="images/service/7.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-info">
					<span class="text-color font-weight-bold">04</span>
					<h3 class="text-md mb-4 mt-2">
						Digital Marketing
					</h3>
					<p>"SpinkTech offers comprehensive digital marketing services, leveraging cutting-edge strategies and technologies to enhance your online presence, drive traffic, and maximize conversions, ensuring tangible results and ROI for your business."!
					</p>
				</div>
			</div>
		</div>

		<div class="content-padding position-relative">
			<div class="row">
				<div class="col-lg-6">
					<div class="service-info mb-5 mb-lg-0">
						<span class="text-color font-weight-bold">06</span>
						<h3 class="text-md mb-4 mt-2">
							SEO, SMM and others,
						</h3>
						<p>
							"SpinkTech provides holistic digital marketing solutions, including SEO, SMM, and more, to boost your online visibility, engage your audience, and drive conversions, ensuring a competitive edge in the digital landscape."!</p>

					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-img">
						<img src="images/service/service-3.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>