<!-- Slider Start -->
<section class="banner d-flex align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-xl-8">
				<div class="block">
					<span class="text-uppercase text-sm letter-spacing ">The most powerful Solution</span>
					<h1 class="mb-3 mt-3">Digital experience with <span class="text-color-primary"> SpinkTech</span></h1>
					<p class="mb-5">!! Welcome to SpinkTech, where innovation meets excellence in software solutions. We specialize in crafting cutting-edge software tailored to your needs, empowering businesses to thrive in the digital age. With a focus on quality, creativity, and client satisfaction, we're your trusted partner in digital transformation.</p>
					<a href="about.html" target="_blank" class="btn btn-main">Learn more about SpinkTech<i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div>
	</div>
</section>