<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">What they say about us</h2>
					<p>!! "SpinkTech's expertise transformed our business. Their solutions are innovative, reliable, and exceeded our expectations. Highly recommend their services."</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>"SpinkTech's solutions have revolutionized our operations, increasing efficiency and productivity tenfold. Their team's expertise and dedication are unmatched." 
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Priyansh Chourasia</h6>
							<span>Priyansh Computers | Jabalpur</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						"SpinkTech's services have been invaluable to our company. Their attention to detail and innovative solutions have significantly improved our operations.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Sandeep Sikdaar</h6>
							<span>Sandeep Clicks | Jabalpur</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						"SpinkTech's services have been instrumental in transforming our digital presence. Their expertise, reliability, and dedication have exceeded our expectations."
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>Vikas Panday</h6>
							<span>Local News | Jabalpur</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						"SpinkTech's services have transformed our business. Their solutions are innovative, reliable, and exceeded our expectations. Highly recommend their expertise!"
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Working with SpinkTech was a game-changer. Their team's dedication and expertise delivered outstanding results, elevating our digital presence and driving growth."
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>